<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="stylesheet" href="/static/style/main.css">
<link rel="stylesheet" href="/static/style/header-footer.css">
<link rel="icon" href="/static/image/icon.png" type="image/png">
<meta name="description" content="Explore DataNerd - Your ultimate platform for chats, videos, and channels!">
<meta name="keywords" content="DataNerd, chat, videos, channels, data platform">
<meta name="author" content="Your Brand">
