<header>
  <nav class="main-nav">
    <div class="logo">
      <a href="/">
        <img src="/static/image/icon.png" alt="DataNerd Logo">
      </a>
      <h1>
        <a href="/">DataNerd</a>
      </h1>
    </div>
    <ul class="nav-links">
      <li><a href="/chat">Chat</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="/channels">Channels</a></li>
    </ul>
  </nav>
</header>
